body {
  background: #fefefe;
  background-image: linear-gradient(to right, rgba(18, 134, 230, 0.459) , lightblue);
  font-family: Georgia, Cambria, "Times New Roman", Times, serif;
  font-size: 15pt;
}

main {
  max-width: 75%;
  margin: auto;
}

header {
  border-bottom: 1px solid #afafaf;
  text-align: center;
}

footer {
  border-top: 1px solid #afafaf;
  text-align: center;
  font-size: 15pt;
}

form {
  text-align: center;
}

.form-center {
  display: inline-block;
}

input[type=number] {
  width: 60%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border: 0.5px solid #a0a0a0;
  font-size: 15px;
}

input[type=number]:hover {
  border-radius: 4px;
  border-color: #a0a0a0 #b9b9b9 #b9b9b9 #b9b9b9;
  box-shadow: 0px 0px 10px grey;
}

input[type=number]:focus{
  border-color:#4d90fe;
  box-shadow: 0px 0px 10px grey;
}

button {
  border-radius: 2px;
  background: #f2f2f2;
  border: 1px solid #f2f2f2;
  color: #757575;
  cursor: default;
  font-size: 14px;
  font-weight: bold;
  width: 100px;
  padding: 0 16px;
  height:36px;
}

button:hover {
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  background: #f8f8f8;
  border: 1px solid #c6c6c6;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  color: #222;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #333;
  margin-bottom: 5px;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 1.15rem;
}

h6 {
  font-size: 1.05rem;
}

p {
  font-size: 1.25rem;
  line-height: 2;
}

.post {
  width: 75%;
  border-bottom: 1px dashed #333;
}

.is-prime {
  color: #00E676;
}

.not-prime {
  color: #FF3D00;
}

.form {
  align-self: auto;
}

.search {
  text-align: center;
}