<main>
  <h1>{{title}}</h1>
  <p>
    This App allows you to find information regarding people by their name or id
  </p>
  <form action="/search" method="POST">
    <label for="personName">
      Name: <br>
      <input type="text" name="name" id="personName" placeholder="personName">
      <br> <br>
    </label>
    <input type="submit" value="Submit">
  </form>
</main>