<main>
  <h1>
    People Found
  </h1>
  <br>
  <h2>
    {{searchParam.name}}
  </h2>
  <ul>
    {{#each result}}
    <li>
      <a href="/details/{{this.id}}">{{this.firstName}} {{this.lastName}}</a>
    </li>
    {{/each}}
  </ul>
  <a href="/">Make another search</a>
</main>